
<mat-toolbar class="header">
    <p>headessaddasdasdasdasdasdasdsadsadasdasddsaddasdr works!</p>
    <p>headessaddasdasdasdasdasdasdsadsadasdasddsaddasdr works!</p>
    <p>headessaddasdasdasdasdasdasdsadsadasdasddsaddasdr works!</p>
    <p>headessaddasdasdasdasdasdasdsadsadasdasddsaddasdr works!</p>
    <p>headessaddasdasdasdasdasdasdsadsadasdasddsaddasdr works!</p>
    <p>headessaddasdasdasdasdasdasdsadsadasdasddsaddasdr works!</p>
    <p>headessaddasdasdasdasdasdasdsadsadasdasddsaddasdr works!</p>
 
  </mat-toolbar>